doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href='/styles/login.css')
    title Welcome
  body 
    form.login-form
      p.login-text
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-lock.fa-stack-1x
      input.login-username(type='email' required='true' placeholder='Email')
      input.login-submit(type='submit' name='Restore' value='Restore')
      a.button-register(href='/auth/login') ¿Ya tiene una cuenta? Inicia sesion
    .underlay-photo
    .underlay-black