doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styles/register/register.css')
    title Welcome
  body 
    form.login-form
      p.login-text
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-lock.fa-stack-1x
      input.login-username(type='text' autofocus='true' required='true' placeholder='User name')
      input.login-username(type='email' required='true' placeholder='Email')
      input.login-password(type='password' required='true' placeholder='Password')
      button.login-submit(type='submit') Register
      p.alert-text
      .links-container
        a.button-register(href='/auth/login') ¿Ya tiene una cuenta? Inicia sesion 
        a.button-google(href='/login/federated/google') Sign in with Google
    .underlay-photo
    .underlay-black

    script(type='text/javascript' src='/js/register.js') 